:root {
    --soundNameDisplay: block;
    --soundControlDisplay: flex;
}

/* Hides the current song name */
.currently-playing .playlist-sounds .sound > header {
    display: var(--soundNameDisplay);
}

/* Hides the pause button */
.currently-playing .playlist-sounds .sound > .sound-playback > .sound-control {
    display: var(--soundControlDisplay);
}